@page "/students/{id:int}"
@using Application.DTOs
@using Application.Services.StudentServices
@inject IStudentService StudentService

<h3 class="form-label" >Student Details </h3>
<a href="/students" class="btn btn-secondary">Back to List</a>
@if(isLoading)
{
    <p>Loading...</p>
}
else if(student == null)
{
    <p>Student not found.</p>
}
else
{
<div>
    <div class="form-group" >
        <label class="form-label" >Id:</label>
        <small class="form-text" >@student.Id</small>
    </div>
    <div class="form-group" >
         <label class="form-label" >Name:</label>
        <small class="form-text" >@student.Name</small>
    </div>
    <div class="form-group" >
        <label class="form-label" >Date Of Birth:</label>
        <small class="form-text" >@student.DateOfBirth</small>
    </div>
    <div class="form-group" >
        <label class="form-label" >Sex:</label>
        <small class="form-text" >@student.Sex</small>
    </div>
</div>
}
@code{
    [Parameter] 
    public int Id{get;set;}
    private GetStudentDTO? student;
    private bool isLoading = true;
    protected override async Task OnParametersSetAsync()
    {
        isLoading = true;
        student = null;
        if(Id>0)
        {
         student = await StudentService.GetStudentByIdAsync(Id);
        }
        isLoading = false;


    }

}