@page "/students/{id:int}"
@using Domain.Entities
@using Application.Services.StudentServices
@inject IStudentService StudentService

<h3 class="form-label" >Student Details </h3>
<a href="/students" class="btn btn-secondary">Back to List</a>
<div>
    <div class="form-group" >
        <label class="form-label" >Id:</label>
        <small class="form-text" >@student.Id</small>
    </div>
    <div class="form-group" >
         <label class="form-label" >Name:</label>
        <small class="form-text" >@student.Name</small>
    </div>
    <div class="form-group" >
        <label class="form-label" >Date Of Birth:</label>
        <small class="form-text" >@student.DateOfBirth</small>
    </div>
    <div class="form-group" >
        <label class="form-label" >Sex:</label>
        <small class="form-text" >@student.Sex</small>
    </div>
</div>
@code{
    [Parameter] 
    public int Id{get;set;}
    private Student? student;
    protected override void OnParametersSet()
    {
        student = StudentService.GetStudentById(Id);
    }



}